.center {
	text-align: center;
}

body {
	padding-top: 40px;
	padding-bottom: 40px;
}

#login-box {
	legend {
		text-align: center;
	}
}

#registration-box {
	legend {
		text-align: center;
	}
}

.drag-drop-area {
	min-height: 100px;
	border: 4px dashed #ddd;
	text-align: center;
	background-color: #F7F7F9;

	p {
		margin-top: 10px;
	}

	&.focus {
		border-color: #B8B8B8;
	}
}

.drop {
	border: 4px dashed red;
}	

#error_page {
	.center;
	height: 200px;
	padding-top: 100px;

	p {
		font-size: 20px;
		font-weight: bold;
	}

	p.bigger {
		font-size: 100px;
		padding-bottom: 30px;
	}
}

.comment {
	.comment-box {
		.header {
			font-size: 10px;
			margin-top: -10px;
			font-weight: bold;
		}
	}
	.action {
		a:first-child {
			margin-bottom: 5px;
		}
	}
}

footer {
	.center;
}

#succesRegistration {
	.center;
	p.bigger {
		font-size: 30px;
		padding-bottom: 30px;
		padding-top: 20px;
	}
	p {
		font-size: 14px;
		font-weight: bold;
	}
}

#new-album {
	height: 180px;
	width: 260px;

	margin: 0px;
	padding: 0px;

	form {
		text-align: center;
		padding-top: 40px;

		p {
			font-weight: bold;
		}
	}
}

#myAlbums {
	.thumbnail {
		text-align: center;
	}
}

.right-side {
	.thumbnail {
		width: 260px;
		height: 180px;
		margin-left: 40px;
		margin-bottom: 10px;
		text-align: center;
		img {
			margin: auto 0;
		}
	}
}

#comment {
	.form-horizontal {

		textarea {
			width: 360px;
		}

		.form-actions {
			padding-left: 140px;
		}
	}
}

#edit-album {
	padding-top: 20px;
}

.sendNewImage {
	.center;
	margin-bottom: 30px;
}

.meret {
	height: 180px;
	width: 260px;
}